.c1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
        background-color:rgba(255, 0, 0, 0.4) ;
    
}
.c2{
    font-size: 12px;
    color: green;
    opacity: 0.2;
    border: 15px blue dashed;
    border-radius: 5px 10px 15px 20px;

}
.c3{
    font-style: italic;
    color:  rgb(255,0,0);
    border: 3px green dashed;
    border-radius: 15px;

}
.c4{
    font-weight: bolder;
   color: #00f;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.bl{
    font-family: 'Open Sans Condensed', sans-serif;
}
.fab{
    color: red;
}
/*
body {
    background-image: url(./../image/1.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
*/
